<div>
  <h3 class="text-center">Editar Estadio</h3>
</div>

<div>
  <form>
    <label for="id" class="col-sm-1">id:</label>
    <input type="number" class="col-sm-2" />
    <br /><br />
    <label for="nombre" class="col-sm-1">Nombre:</label>
    <input type="text" class="col-sm-2" />
    <br /><br />
    <label for="ciudad" class="col-sm-1">ciudad:</label>
    <input type="text"  class="col-sm-2" />
    <br /><br />
    <label for="capacidad" class="col-sm-1">capacidad:</label>
    <input type="number" class="col-sm-2" />
    <br /><br />
    <button class="btn btn-warning">Update</button>
  </form>
</div>
