<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a
    class="navbar-brand"
    [routerLink]="['/home']"
    [routerLinkActive]="['active']"
    >{{ title }}</a
  >
  <a
    class="navbar-brand"
    [routerLink]="['/stadiums']"
    [routerLinkActive]="['active']"
    >{{ element1 }}</a
  >
  <a
    class="navbar-brand"
    [routerLink]="['/teams']"
    [routerLinkActive]="['active']"
    >{{ element2 }}</a
  >
  <a
    class="navbar-brand"
    [routerLink]="['/players']"
    [routerLinkActive]="['active']"
    >{{ element3 }}</a
  >
  <a
    class="navbar-brand"
    [routerLink]="['/editStadium']"
    [routerLinkActive]="['active']"
    >{{ element4 }}</a
  >
  <a
    class="navbar-brand"
    [routerLink]="['/users']"
    [routerLinkActive]="['active']"
    >{{ element5 }}</a
  >
</nav>
