<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a
    class="navbar-brand"
    [routerLink]="['/home']"
    [routerLinkActive]="['active']"
    >{{ title }}</a
  >
  <a
    class="navbar-brand"
    [routerLink]="['/estadios']"
    [routerLinkActive]="['active']"
    >{{element1}}</a
  >
  <a
    class="navbar-brand"
    [routerLink]="['/equipos']"
    [routerLinkActive]="['active']"
    >{{element2}}</a
  >
  <a
    class="navbar-brand"
    [routerLink]="['/jugadores']"
    [routerLinkActive]="['active']"
    >{{element3}}</a
  >
  <a
    class="navbar-brand"
    [routerLink]="['/editarEstadio']"
    [routerLinkActive]="['active']"
    >{{element4}}</a
  >
</nav>
