<div class="table-responsive">
  <h3 class="text-center">{{ titulo }}</h3>
  <table class="table table-sm center" style="width: 50%">
    <thead class="text-center">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Ciudad</th>
        <th>Capacidad</th>
        <th>Ocupacion</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody *ngFor="let e of estadios">
      <tr class="estadios text-center">
        <th>{{ e.id }}</th>
        <th>{{ e.nombre }}</th>
        <th>{{ e.ciudad.name }}</th>
        <th>{{ e.capacidad }}</th>
        <th>
          <div *ngIf="e.ocupacion > 80; then alertaAlta; else alertaBaja"></div>
        </th>
        <ng-template #alertaAlta
          >Alerta: Ocupacion Alta ({{ e.ocupacion }}%)</ng-template
        >
        <ng-template #alertaBaja
          >Alerta: Ocupacion Baja ({{ e.ocupacion }}%)</ng-template
        >
        <th>
          <div>
            <button
              [class.selected]="e === selectedEstadio"
              type="button"
              (click)="editarEstadio(e)"
            >
              Editar
            </button>
          </div>
        </th>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <br />
  <h3 class="text-center">Ciudades</h3>
  <table class="table table-sm center" style="width: 15%">
    <thead class="text-center">
      <tr>
        <th>#</th>
        <th>Ciudad</th>
      </tr>
    </thead>
    <tbody *ngFor="let c of ciudades; let i = index">
      <tr class="text-center">
        <th>{{ i }}</th>
        <th>{{ c.name }}</th>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <br />
  <h3 class="text-center">Events (click - onBlue - onKeyUp)</h3>
  <br />
  <div class="form-center">
    <label for="onBlue" class="col-md-2">Click: </label>
    <input type="text" [(ngModel)]="ciudad" />
    <button type="button" class="PostBtn" (click)="getCiudad()">
      Ver ciudad
    </button>
    <br /><br />
    <!-- Se utiliza en buscadores OnBLue (Deja el foco del input) -->
    <label for="onBlue" class="col-md-2">OnBlue: </label>
    <input type="text" [(ngModel)]="ciudad" (blur)="onBlur()" />
    <br /><br />
    <!-- Se utiliza cuando se levanta el enter keyup.enter -->
    <label for="onBlue" class="col-md-2">KeyUp: </label>
    <input type="text" [(ngModel)]="ciudad" (keyup.enter)="onKeyUp()" />
  </div>
</div>

<div>
  <br />
  <h3 class="text-center">Patrocinador</h3>
  <div [ngSwitch]="patronicador" class="text-center">
    <p *ngSwitchCase="'Adidas'">
      <span class="patro-adidas">El patrocinador es Adidas</span>
    </p>
    <p *ngSwitchCase="'Nike'">
      <span class="patro-nike">El patrocinador es Nike</span>
    </p>
    <p *ngSwitchCase="'Puma'">
      <span class="patro-puma">El patrocinador es Puma</span>
    </p>
    <p *ngSwitchDefault="">
      <span class="patro-nike">El patrocinador es invalido</span>
    </p>
  </div>
</div>

<div>
  <br />
  <h3 class="text-center">Formulario</h3>

  <form>
    <label for="id" class="control-label col-sm-1" style="text-align: rigth"
      >id:</label
    >
    <input type="text" [(ngModel)]="id" name="id" class="col-sm-1" />

    <label for="name" class="control-label col-sm-1" style="text-align: rigth"
      >Nombre:</label
    >
    <input type="text" [(ngModel)]="nombre" name="name" class="col-sm-2" />

    <label for="capacidad">Capacidad:</label>
    <input
      type="number"
      [(ngModel)]="capacidad"
      name="capacidad"
      class="form-control"
      class="col-sm-2"
    />

    <label for="ciudad">Ciudad: </label>
    <input
      type="text"
      [(ngModel)]="ciudad"
      name="ciudad"
      class="form-control"
      class="col-sm-2"
    />

    <button
      type="button"
      class="PostBtn"
      (click)="crearEstadio(id, nombre, capacidad, ciudad)"
    >
      Crear Estadio
    </button>
    <br />
    <button class="btn btn-danger center" (click)="deleteEstadio()">
      Eliminar ultimo Estadio
    </button>
  </form>
</div>
